<% news_id = comment['thread_id'] %>
<article class="comment" style="<%= comment_indent(comment) %>" data-comment-id="" id="">
  <span><img class="avatar" src="<%= gravatar_url(user) %>"></span>
  <span class="info">
    <span class="username">
      <a href="/user/<%= urlencode(user['username']) %>"><%= entities(user['username']) %></a>
    </span>
    &nbsp;<%= str_elapsed(comment['ctime'].to_i) %>&nbsp;
    <% if !comment['topcomment'] %>
    <a class="reply" href="/comment/<%= "#{news_id}/#{comment['id']}" %>">link</a>
    <% end %>
    <% if is_logged_in? and !comment['topcomment'] %>
    <a class="reply" href="/reply/<%= "#{news_id}/#{comment['id']}" %>">reply</a>
    <% end %>
    <% if !comment['topcomment'] %>
      <%= compute_comment_score(comment) %> points
      <a href="#up" class="uparrow <%= comment_arrow_class(comment, :up) %>"></a>
      &nbsp;
      <a href="#down" class="downarrow <%= comment_arrow_class(comment, :down) %>"></a>
    <% end %>
    <% if show_edit_link(comment) %>
      <a href="/editcomment/<%= "#{news_id}/#{comment['id']}" %>" class="reply">edit</a>
      <%= "(#{ (CommentEditTime - (Time.now.to_i-comment['ctime'].to_i))/60 } minutes left)" %>
    <% end %>
  </span> <!-- info -->
  <pre><%= urls_to_links(entities(comment['body'].strip))%></pre>

</article>
