
<%= erb :news, :locals => {:news => news}, :layout => false %>
<section id="submit">
  <form id="submitnews" class="form" name="f">
    <input type="hidden" name="news_id" value="<%= news['id'] %>">
    <label class="labelform" for="title">title</label>
    <input class="textfield" type="text" id="title" name="title" size="80" value="<%= entities(news['title']) %>">
    <label class="labelform" for="url">url</label>
    <input class="textfield" type="text" id="url" name="url" size="60" value="<%= entities(news['url']) %>">

    <p class="info">o si no tiene una url, puede ingresar algún texto</p>

    <label class="labelform" for="text">texto</label>
    <textarea class="textarea" id="text" name="text" cols="60" rows="10"><%= entities(text) %></textarea>

    <input type="checkbox" name="del" value="1"> borrar esta nota

    <div id="errormsg"></div>
    <button class="submit" type="submit">editar</button>
  </form>
</section>
<script>
  NIP.init.push('submitnews');
</script>
