      <article class="news-article clearfix" data-news-id="<%= news['id'] %>">
        <table class="inner-table" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td class="vote"><a href="#up" title="votar" class="uparrow <%= get_arrow_class(news['voted'], :up) %>">&#9650;</a></td>
            <td>
              <div class="news-container">
                <h1 class="news-title"><a class="news-link" href="<%= news_url(news) %>"><%= entities(news['title']) %></a></h1>
                <address class="domain">
                  <%= get_domain(news) %>
                  <% if is_editable?(news) %>
                    <a href="/editnews/<%= news['id'] %>">[editar]</a>
                  <% end %>
                </address>
                <p class="meta-data">compartida por
                  <username><a href="/user/<%= urlencode(news['username']) %>" class="lnk"><%= entities(news['username']) %></a></username>
                  <span class="meta-separator">&nbsp;~&nbsp;</span>
                  <span class="meta-time"><%= str_elapsed(news["ctime"].to_i) %></span>
                  <span class="meta-separator">&nbsp;~&nbsp;</span>
                  <span class="meta-action">
                  <% if news['comments'].to_i == 0 %>
                  <a href="/news/<%= news['id'] %>" class="lnk">comentala</a>
                  <% else %>
                  <a href="/news/<%= news['id'] %>" class="lnk"><%= "#{news['comments']} comentarios" %></a>
                  <% end %>
                </span>
                </p>
              </div>
            </td>
          </tr>
        </table>
        <%= debug_code(news) %>
      </article>
