      <article class="news-article" data-news-id="<%= news['id'] %>">
        <a href="#up" class="<%= get_arrow_class(news, :up) %>">&#9650;</a>
        <h1 class="news-title"><a href="<%= news['url'] %>"><%= entities(news['title']) %></a></h1>
        <address class="domain">
          <%= get_domain(news) %>
          <% if is_editable?(news) %>
            <a href="/editnews/<%= news['id'] %>">[edit]</a>
          <% end %>
        </address>
        <a href="#down" class="<%= get_arrow_class(news, :down) %>">&#9660;</a>
        <p class="meta-data">
          <%= "#{news["up"]} up and #{news["down"]} down, posted by " %>
          <username>
            <a href="/user/<%= urlencode(news['username']) %>" class="lnk"><%= entities(news['username']) %></a>
          </username>
          &nbsp;~&nbsp;
          <%= str_elapsed(news["ctime"].to_i) %>
          &nbsp;~&nbsp;
          <a href="/news/<%= news['id'] %>" class="lnk"><%= "#{news['comments']} comments" %></a>
        </p>
        <%= debug_code(news) %>
      </article>
