      <article class="news-article" data-news-id="<%= news['id'] %>">
        <a href="#up" title="vote up" class="uparrow <%= get_arrow_class(news['voted'], :up) %>">&#9650;</a>
        <h1 class="news-title"><a href="<%= news_url(news) %>"><%= entities(news['title']) %></a></h1>
        <address class="domain">
          <%= get_domain(news) %>
          <% if is_editable?(news) %>
            <a href="/editnews/<%= news['id'] %>">[editar]</a>
          <% end %>
        </address>
        <a href="#down" title="vote down" class="downarrow <%= get_arrow_class(news['voted'], :down) %>">&#9660;</a>
        <p class="meta-data">
          <%# "#{news["up"]} up y #{news["down"]} down, compartida por " %>
          <%= "compartida por " %>
          <username>
            <a href="/user/<%= urlencode(news['username']) %>" class="lnk"><%= entities(news['username']) %></a>
          </username>
          &nbsp;~&nbsp;
          <%= str_elapsed(news["ctime"].to_i) %>
          &nbsp;~&nbsp;
          <a href="/news/<%= news['id'] %>" class="lnk"><%= "#{news['comments']} comentarios" %></a>
        </p>
        <%= debug_code(news) %>
      </article>
