<section id="newslist">
  <%= erb :news, :locals => {:news => news } %>
  <%= erb( :comments, :locals => {:news => news, :comment => comment, :user => user}) if comment %>
</section>
<% if is_logged_in? %>
  <form id="commentform" class="form" name="f">
    <input type="hidden" names="news_id" value="<%= news['id'] %>">
    <input type="hidden" names="comment_id" value="<%= news['comment_id'] %>">
    <input type="hidden" names="parent_id" value="<%= news['parent_id'] %>">
    <textarea class="textarea" name="comment" cols="60" rows="10"></textarea>
    <button class="submit" type="submit" name="post_comment">post comment</button>
  </form>
<% end %>
<div id="comments">

</div>
<script>
  NIP.init.push('postcomment');
</script>
