<section id="newslist">
  <%= erb :news, :locals => {:news => news } %>
  <div class="share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="nerdsinpress" data-lang="es" data-hashtags="NIP" data-text="<%= entities(news['title']) %>" style="display:none">Twittear</a>
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false" data-action="recommend" data-font="arial"></div>
  </div>
</section>
<%= top_comment %>
<% if is_logged_in? %>
  <form id="commentform" class="form" name="f">
    <input type="hidden" name="news_id" value="<%= news['id'] %>">
    <input type="hidden" name="comment_id" value="-1">
    <input type="hidden" name="parent_id" value="-1">
    <textarea class="textarea" name="comment" cols="60" rows="10"></textarea>
    <button class="submit" type="submit" name="post_comment">dejar comentario</button>
  </form>
<% end %>
<%= erb( :comments, :locals => {:news => news, :comment => comment, :user => user, :root => -1}) %>
<script>
  NIP.init.push('postcomment');
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
