<section class="userinfo">
  <span class="avatar">
    <img src="<%= gravatar_url(user) %>">
  </span>
  <h1 class="username"><%= entities(user['username']) %></h1>
  <pre class="about"><%= user['about'] %></pre>
  <ul class="meta-data">
    <li>cuenta creada hace <%= "#{(Time.now.to_i-user['ctime'].to_i)/(3600*24)} días" %></li>
    <li>karma <%= user['karma'] %> puntos</li>
    <li>noticias enviadas <%= posted_news.to_s %></li>
    <li>comentarios dejados <%= posted_comments.to_s %></li>
    <% if owner %>
    <li><a href="/saved/0">noticias guardadas</a></li>
    <% end %>
    <li><a href="/usercomments/<%= urlencode(user['username']) %>/0">comentarios</a></li>
    <li><a href="/user/<%= urlencode(user['username']) %>/rss">feed del usuario</a></li>
  </ul>
</section>
<% if owner %>
  <fieldset class="profile-form">
    <legend>Profile</legend>
    <form id="profileform" class="form" name="f">
      <fieldset class="group">
        <label class="labelform" for="email">email (no visible, usado por gravatar)</label>
        <input class="textfield" type="text" id="email" name="email" size="40" value="<%= entities(user['email']) %>">
      </fieldset>
      <fieldset class="group">
        <label class="labelform" for="password">cambiar password (opcional)</label>
        <input class="textfield" type="password" name="password" size="40">
      </fieldset>
      <fieldset class="group">
        <label class="labelform" for="about">acerca de</label>
        <textarea id="about" class="textarea" name="about" cols="60" rows="10"><%= entities(user['about']) %></textarea>
      </fieldset>

      <button class="submit" type="submit">actualizar perfil</button>
      <div id="errormsg"></div>
    <form>
  </fieldset>
<% end %>
<script>
  NIP.init.push('updateprofile');
</script>
